$color: #606060;
@import url(//db.onlinewebfonts.com/c/4cbbd1066305840936e7d1e30aea9064?family=The+Mix-);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');



/* navbar Area */
.navbar-custom
{
  background-color: black;
  box-shadow: 0 2px 6px -6px black;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 2px;
  .nav-item
  {
  
    margin-right: 40px;

  }
 
  a:visited 
  {
    color: #ffffff;
    border-bottom: 1px solid #8cd8e4;
   }

  .nav-item:hover
  {
    text-decoration: none;
    opacity: 1;
    border-bottom: 1px solid #888888;
    margin-bottom: -1px;
  }
  .active
  {
    margin-left: 23px;
  }
}
.navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link
     {
        color: #888888;
    }
    .navbar-custom .navbar-nav .nav-link {
        color: #888888;
        padding: 1rem 1rem;
        padding: 16px 5px;
        font-family: 'TheSans-500', sans-serif;
        font-size: 14px;
    }
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
     }
    
    
    .navbar-toggler
    {
        border: 1px solid white;
        color: white;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .smart-scroll{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
    .scrolled-down{
       transform:translateY(-100%); transition: all 0.2s ease-in-out;
    }
    .scrolled-up{
       transform:translateY(0); transition: all 0.2s ease-in-out;
    }
   
   /* Header Area */
   .header
   {
      background-image: url("./../images/header.jpg");
      background-position: center center;
      background-size: 100% 100%;
     // font-family: 'Blackcube Stencil';
     color: white;
     
    padding-top: 15%;
    padding-bottom: 17%;
    p
    {
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    text-align: justify;
    }

   }
  
  /* Creative Araa */
  .creative
  {
    background-image: url("./../images/mobile.jpg");
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    
    h1
    {
      color: white;
      font-size: 45px;
      font-weight: 700;
      line-height: 53px;
    }
    p
    {
  
      font-size: 18px;
      line-height: 25px;
    }
    .col-md-6
    {
      padding: 0;
    }

  }

  /* make us unqiue area */
  .make-us
  {
    background-color: #eeeeee;
    padding-top: 100px;
    padding-bottom: 10px;
    h1
    {
      font-size: 3em;
      font-weight: 700;
      color: #8ad3df;
    
    }
    .col-md-11
    {
      margin-left: 20px;
    }
    h2
    {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 26px;
      margin-top: 5px;
    }
    p
    {
      margin-top: 15px;
    }
    .data
    {
      margin-top: 35px;
    }
    span
    {
      background-color: #8ad3df;
      padding: 3px 13px;
      font-weight: bold;
      font-size: 27px;
      border-radius: 50%;
      color: white;
    }
    .row
    {
      margin-bottom: 20px;
      margin-left: 10px;
    }
    
  }
  
  /* handing */
  .hand
  {
    background-image: url("./../images/hand.jpg");
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 23%;
    padding-bottom: 23%;
  }

  
  /* abover footer */
  .success
  {
    background-image: url("./../images/view.jpg");
    background-position: center center;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 17%;
    
    color: white;
    h1
    {
      font-size: 3em;
      font-weight: 700;
      color: #8ad3df;
      margin-bottom: 30px;
    
    }
    h3
    {
      font-size: 18px;
    }
    p
    {
      font-size: 15px;
    }
    .mycard
    {
      background-color: #69696b;
      padding: 10px 10px;
      min-height: 170px;
      border-top: 15px solid #8ad3df;
      
    }

  }

/* \footer area */
.footer 
{
  font-family: 'TheMix-300', serif;
  background-color: #222222;
  border-top: 13px solid #333333;
  padding-top: 25px;
  padding-bottom: 10px;
  h6
  {
    margin: 0;
    color: #868686;
    font-size: 13px;
  }

  a
  {
    color: #868686;
  }
  a:hover
  {
    color: white;
    cursor: pointer;
  }

  h5
  {
    margin: 0;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
  }
 
}

/* Meida Quries Mobiles */
@media (max-width: 760px) {
  
  nav
  {
    padding: 10px 16px !important;
  }
  .nav-item
  {
    margin-left: 23px;
    border-bottom: 1px solid #888888;

  }

  /* Header Area */
  .header
  {
   img
   {
     width: 55%;
     margin-top: 30%;
   }
   p
   {
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
   line-height: 26px;
 font-weight: bold;
   margin-top: 10px;
   text-align: left;
   }

  }

  .creative
  {
    h1
    {
      font-size: 25px;
      line-height: 35px;
    }
    p
    {
      width: 55%;
      text-align: left;
    }
  }

  .m1
  {
    margin-top: 30px;
  }
  .make-us
  {
    padding-top: 50px;
    h1
    {
      font-size: 26px;
    }
    h2
    {
      font-size: 20px;
    }
    p
    {
      text-align: justify;
    }
    span
    {
      padding: 5px 12px;
      font-weight: bold;
      font-size: 20px;
    }
    .col-9 
    {
      margin-left: 10px;
    }
  }
  .success
  {
    h1
    {
      font-size: 26px;
    }
  }


}

/* Meida Quries IPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

/* Media Quries IPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-item
  {
  
    margin-right: 20px !important;

  }
}
